.section {
  animation: appearance 0.5s;
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu {
  height: calc(100vh - 116px);
}

.menu-item {
  margin: 15px 0;
}

.card-title,
.menu-item {
  transition: transform 0.3s;
}

.card-title:hover,
.menu-item:hover {
  transform: translateX(5px);
}

.closed-details {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  animation: shrink 0.3s;
}

.open-details {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

@keyframes shrink {
  0% {
    max-height: 50vh;
  }
  100% {
    max-height: 0;
  }
}
