.section {
  animation: appearance 0.5s;
  margin-left: 110px;
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main {
  padding-top: 116px;
}

.menu {
  min-height: calc(100vh - 116px);
}

.menu-item {
  margin: 15px 0;
}

.card-title,
.menu-item,
.completed-quests-title {
  transition: transform 0.3s;
}

.card-title:hover,
.menu-item:hover {
  transform: translateX(5px);
}

.completed-quests-title:hover {
  transform: translateY(5px);
}

.closed-details,
.closed-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.open-details,
.open-list {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}

.btn {
  transition: background-color 0.25s ease-in-out;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.color-selector {
  width: 30px;
  height: 30px;
}

.color-selector::-webkit-color-swatch {
  border-radius: 50%;
  border: 1px solid #222;
}

.color-selector::-moz-color-swatch {
  border-radius: 50%;
  border: 1px solid #222;
}
